body {
	 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	 background-color: black;
}

section {
    background-color: rgb(154, 174, 206);
 }

nav, .section_heading {
	background-color: rgb(137, 206, 130);
}

section li {
	display:inline;
}

h1 {
	font-size: 2em;
}

p {
    font-size: 16px;
    line-height: 26px;
}

#firstpage, .section_content {
	background-color: rgba(180, 180, 200, 0.4);
}

#section1 {
	background-color: rgb(90, 90, 90);
}

#skills {
	background-color: rgb(120, 60, 140);
}

#skills .section_heading {
	background-color: rgb(90, 90, 90);
	color: white;
}

#about {
	background-color: rgb(70, 140, 60);
}

#about .section_heading {
	background-color: rgb(120, 60, 140);
	color: white;
}

#works {
	background-color: rgb(60, 70, 140);
}

#works .section_heading {
	background-color: rgb(70, 140, 60);
	color: white;
}

footer {
	background-color: black;
	color:white;
}

hr {
	border-color:black;
}
