 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 2vmin;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #93a4aa;
    line-height: 1.6;
    background-color: black;
}

a {
    outline: none;
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

h3 {
    text-align: center; 
    padding-top: 5vh;
    font-size: 2vh;
}

#firstpage {
    position: fixed;
    z-index: -1;
}

.section_heading {
    grid-area: h;
    display: inline-grid;
    grid-template-columns: repeat(3, min-content);
    color: white;
    font-size: 2em;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 0 black;
}

#heading-img {
    max-height: 10vh;
    filter: drop-shadow(1px 1px 0px black);
    justify-self: center;
}

#logo-left-text {
    display: grid; 
    justify-content: right;
}

#logo-right-text {
    display: grid; 
    justify-content: left;
}

.firstpage_section_content {
    grid-area: c;
    padding: 1em;
    max-width: 90vw;
    align-items: center;
    align-self: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0 black;
    font-size: 2em;
    border: solid white;
}

#grid-container-firstpage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: grid;  
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 15vh 10vh auto auto;
    grid-template-areas:
        "h h h"
        ". . ."
        ". c ."
        ". . .";
}

#pusher {
    height: 100vh;
}

#about {
    background-color: white;
}

#grid-container-about {
    padding: 5vh 10vw 5vh 10vw;
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 8vh;
    grid-column-gap: 10vw;
    justify-items: center; 
    align-items: top;    
}

.section_content {
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    color: black;
}

#myself {
    vertical-align: bottom;
    min-height: 250px;
    max-width: 30vw;
    min-width: 300px;
    grid-column: 1 / -1;
}

#summary {
    min-width: 300px;
    max-width: 70vw;
    font-size: 2.2vh;
    grid-column: 1 / -1;
}

#skills {
    background-color: white;
    grid-column: 1 / -1;
    font-size: 2vh;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    min-width: 8vw;
    padding: 10px;
}

#works {
    background-color: #eee;
}

#grid-container-works {
    padding: 5vh 10vw 10vh 10vw;
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(377px, 1fr));
    grid-auto-rows: 1fr;
    grid-row-gap: 8vh;
    grid-column-gap: 10vw;
    justify-items: center;
    justify-content: center;
}

.portfolio-item {
    background-color: white;
    max-width: 550px;
}

.card-shadow {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 15px 25px 0 rgba(0, 0, 0, 0.19);
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-image {
    vertical-align: bottom;
    max-height: 20vh;
}

.topcenter {
    object-position: top center;
}

.topleft {
    object-position: top left;
}

.fade2 {
  opacity: 0;
  transform: translate(0, 20px); 
  transition: all 1s;
}

.fade2.visible { 
  opacity: 1;
  transform: translate(0, 0);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.2vh;
    background-color: #707070;
    color: black;
    height: 15vh;
    font-weight: bolder;
}

#footer-image {
    max-height: 40px;
}

.fancy-image {
    margin: 2vh 3vh 2vh 3vh;
    max-height: 20vh;
}

#photo-head {
    display: flex;
    background-color: #eee;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

#gallery-container {
    background-color: #eee;
}

#pincerhead {
    display: flex;
    background-color: #CE1F26;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-bottom: solid black;
    margin-bottom: 5vh;
}

#pincerhead-text {
    width: 90vw;
    max-height: 75%;
}

#pincer-fancybox {
    background-color: #CE1F26;
    min-height: 90vh;
}

.fancybox-wrapper {
    text-align: center;
    padding: 0vh 0 5vh 0;
}




/*Triangle header stuff
/*.section_heading {   
    grid-area: h;
    position: relative;
    border-bottom: 200px solid transparent;
    border-left: 50vw solid transparent;
    border-top: 10vh solid #707070; /* header height and color *//*
    border-right: 50vw solid transparent;
    display: inline-block;  
}

.triangle_content {
    color: white;
    font-size: 2em;
    position: relative;
    left: -50%;
    top: .5vh; /* distance of title from top*//*
    display: flex;
    justify-content: center;
    width: 200px;
    height: 180px;
    transform: translate(-50%,-50%);
    text-align: center;
    box-sizing: border-box;
    padding: 30px 0;
}
*/