* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#f45942, #233237);
    height: 100vh;
}

h1 {
    font-family: 'Russo One', impact, sans-serif;
    font-size: 3rem;
    letter-spacing: .5rem;
    background-color: #233237;
    color: #f45942;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    text-shadow: .5rem .5rem .5rem black;
    box-shadow: 0 0 1.5rem black;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #233237;
    box-shadow: 0 0 1.5rem black;
}

p {
    font-family: 'Play', verdana, sans-serif;
    font-size: 1rem;
    color: white;
    line-height: 1.438rem;
    padding: 1rem;
    max-width: 59ch;
}

button {
    font-family: 'Play', verdana, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    background-color: #EAC67A;
    width: 4.5rem;
    height: 2rem;
    margin: 1rem;
    box-shadow: 0 0 1rem black;
    text-shadow: .03rem .03rem .03rem #f45942;
}

#game {
    height: 50%;
    width: 100%;
    max-width: 30rem;
    font-size: 0.875rem;
    margin: 8vh auto auto auto;
    padding: 2rem;
}

#start_button {
    position: relative;
    height: 2rem;
    width: 8rem;
}

#buttons {
    height: 3.5rem;
    width: 100%;
    max-width: 30rem;
    margin: 1rem auto auto auto;
}

#hp {
    margin: 1rem auto auto auto;
    max-width: 30rem;
    justify-content: space-around;
    color: white;
}